<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          ISSA<font size="5">-DW 2017</font>
        </a>
      </h1>      
      <div class="lead">
        <p>{{ site.description }}</p>
        <a border="0" href="http://www.udn.vn" rel="nofollow">
          <img width="100%" src="https://github.com/issadw/issadw.github.io/blob/master/_photos/danang_university.jpg?raw=true"/>
        </a>
      </div>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/2016">ISSA-DW 2016</a>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

<!--       <a class="sidebar-nav-item{% if page.url == '/technical_program/') %} active{% endif %}" href="{{ site.baseurl }}/technical_program">Technical Program</a>
      <span class="sidebar-nav-item">Organized by <a href="http://soict.hust.edu.vn" target="_blank">HUST</a>, <a href="http://ttu.edu.vn" target="_blank">TTU</a>, <a href="http://vitalconet.github.io" target="_blank">VitalConet</a>, <a href="http://alpslab.github.io">ASEA-UNINET AlpsLab project</a> and <a href="http://haivanuni.github.io/haivan">ASEA-UNINET HAIVAN project</a></span> -->
      <!--span class="sidebar-nav-item">Currently v{{ site.version }}</span-->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
